<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>demo</title>
    <link rel="stylesheet" href="static/css/index.css">
</head>

<body>

    <div class="background top"></div>

    <div class="box">
        <div class="background boxcontent">
            <div class="background frame">


                <div class="bottombox">
                    <div class="scorebox">
                        <div class="score" id="score">
                            <img src="static/img/fu.png">
                            <img src="static/img/fu.png">
                            <img src="static/img/fu.png">
                            <img src="static/img/fu.png">
                            <img src="static/img/fu.png">
                            <img src="static/img/fu.png">
                            <img src="static/img/fu.png">
                            <img src="static/img/fu.png">
                            <img src="static/img/fu.png">
                            <img src="static/img/fu.png">
                            <img src="static/img/fu.png">
                            <img src="static/img/fu.png">
                            <img src="static/img/fu.png">
                            <img src="static/img/fu.png">
                            <img src="static/img/fu.png">
                            <img src="static/img/fu.png">
                        </div>
                    </div>

                </div>

            </div>
        </div>
    </div>



    <!-- {{include './include.html'}} {{if user}}
    <h2>{{user.name}}</h2>
    <ul>
        {{each user.tags}}
        <li>{{$value}}</li>
        {{/each}}
    </ul>
    {{/if}} -->
    <script src="static/js/index.js"></script>
</body>

</html>